* {
    margin: 0;
    padding: 0;
}

#signup {
    /* margin: auto; */
    /* padding: auto; */

    width: 100vw;
    height: 100vh;
    
    display: flex;
    align-items: center;
}

#signup .frm {
    margin: auto;
    padding: 5rem;

    width: fit-content;
    height: fit-content;

    display: flex;
    flex-direction: column;
    /* text-align: center; */
    /* align-items: center; */
}

#signup .frm p {
    color: #000;

    margin: 0 0 1.5rem 0;

    /* text/3 */
    font-family: SUIT;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: 160%; /* 2rem */
    letter-spacing: 0.0125rem;
}

#signup .frm .pwd {
    margin: 0.75rem 0 2rem 0;
}