@font-face {
    font-family: 'Dirtyline 36daysoftype 2022';
    src: url('./assets/font/Dirtyline 36daysoftype 2022.otf') format('truetype');
}

@font-face {
    font-family: 'Goblin One';
    src: url('./assets/font/GoblinOne-Regular.ttf') format('truetype');
}